<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>OBJ Sample</title>
    <script src="https://unpkg.com/three@0.139.2/build/three.min.js"></script>
    <script src="https://unpkg.com/three@0.139.2/examples/js/controls/OrbitControls.js"></script>
    <script src="https://unpkg.com/three@0.139.2/examples/js/loaders/OBJLoader.js"></script>
    <script src="https://unpkg.com/three@0.139.2/examples/js/loaders/MTLLoader.js"></script>
    <script src="https://unpkg.com/three@0.139.2/examples/js/loaders/GLTFLoader.js"></script>
    <script src="https://unpkg.com/three@0.139.2/examples/js/loaders/FBXLoader.js"></script>
    <script src="https://unpkg.com/three@0.139.2/examples/js/libs/fflate.min.js"></script>



</head>
<body>
<script th:inline="javascript">
    let scene, camera, renderer;

    scene = new THREE.Scene();
    camera = new THREE.PerspectiveCamera( 20, window.innerWidth / window.innerHeight, 1, 2000 );
    camera.position.z = 250;

    var light = new THREE.AmbientLight(0xffffff);
    scene.add(light);

    light = new THREE.HemisphereLight(0xffffff, 0x444444, 1.0);
    light.position.set(0, 1, 0);
    scene.add(light);

    var directionalLight = new THREE.DirectionalLight( 0xffeedd );
    directionalLight.position.set( 0, 1, 0 ).normalize();
    scene.add( directionalLight );

    var mesh = null;

    var mtlLoader = new THREE.MTLLoader();
    mtlLoader.setPath('https://image-test-suyoung.s3.ap-northeast-2.amazonaws.com/obj/')
    mtlLoader.load( 'model/ToyCar.mtl', function( materials ) {
        materials.preload();
        var objLoader = new THREE.OBJLoader();
        objLoader.setMaterials( materials );
        objLoader.setPath('https://image-test-suyoung.s3.ap-northeast-2.amazonaws.com/obj/')
        objLoader.load( 'model/ToyCar.obj', function ( object ) {
            mesh = object;
            scene.add( mesh );
        });
    });

    renderer = new THREE.WebGLRenderer({antialias:true});
    renderer.setSize( window.innerWidth, window.innerHeight );
    renderer.setClearColor(0xccccff);
    document.body.appendChild( renderer.domElement );

    controls = new THREE.OrbitControls(camera, renderer.domElement);
    controls.addEventListener('change', renderer);

    animate();

    function animate() {
        renderer.render( scene, camera );
        requestAnimationFrame( animate );
    }

</script>
</body>
</html>
